---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/PageSidebar.astro';
---

<Default {...Astro.props}>
  <slot />
</Default>

<div class="interactive-graph-container sl-hidden lg:sl-block">
  <h2>Mạng lưới kiến thức</h2>
  <div id="graph-container"></div>
</div>

<script is:inline src="//unpkg.com/force-graph"></script>
<script src="/graph.js" defer></script>

<style>
  .interactive-graph-container {
    padding: 1.5rem var(--sl-sidebar-pad-x);
    margin-top: 1rem;
    border-top: 1px solid var(--sl-color-hairline);
  }
  .interactive-graph-container h2 {
    color: var(--sl-color-white);
    font-size: var(--sl-text-h5);
    font-weight: 600;
    line-height: var(--sl-line-height-headings);
    margin-bottom: 0.75rem;
  }
  #graph-container {
    width: 100%;
    height: 250px;
    background-color: var(--sl-color-bg);
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-hairline);
    overflow: hidden;
    cursor: grab;
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  #graph-container:active {
    cursor: grabbing;
  }
</style>
